%p=_'email.organization.add_administrator.content', "#{@admin.firstname || @admin.username || @admin.email}, you have been added as an administrator to #{@organization.name}", vars: {user_or_email: @admin.firstname || @admin.username || @admin.email}
%p
	%h3
		%b
			%a{href: File.join(@host, view_organization_path(@organization.slug))}
				=_'email.organization.add_administrator.view_link', "View your organization"
