$sidebar-width: rems(19);

$colour-1: #FAF5F0; // white
$colour-2: #333; // black
$colour-3: #5F634F; // green
$colour-4: #9BC4CB; // blue
$colour-5: #E36397; // pink

$white: $colour-1;
$black: $colour-2;
$green: $colour-3;
$blue:  $colour-4;
$pink:  $colour-5;

$edit-colour: $blue;
$delete-colour: $pink;
$error-colour: $pink;

@mixin default-text-shadow {
	@include _(text-shadow, 0.05em 0.1em rgba(#000, 0.25));
}

@mixin button {
	position: relative;
	background-color: lighten($colour-2, 10%);
	color: $white;
	line-height: 2.175em;
	height: 2.175em;
	padding: 0 1em;
	@if $browser == 'and_chr' {
		padding-top: 0.125em;
	}
	box-shadow: 0 0 1.5em -0.5em $black;
	outline: 0;
	border: 0;
	margin: 0 0.333em 1em;
	cursor: pointer;
	vertical-align: baseline;
	@include _(transition, #{box-shadow, transform 100ms, 100ms ease-in, ease-in});
	@include _(border-radius, 0.1em);
	@include default-text-shadow;
	border-bottom: 0.25em solid rgba(#000, 0.25);

	&.colour-3,
	&.primary {
		background-color: $colour-3;
	}

	&.colour-4,
	&.secondary,
	&.edit {
		background-color: $colour-4;
	}

	&.colour-5,
	&.tertiary,
	&.save,
	&.delete {
		background-color: $colour-5;
	}

	&.less-important,
	&.cancel {
		background-color: lighten($colour-2, 25%);
	}

	&:hover {
		box-shadow: 0 0 1.5em -0.25em $black;
		border-bottom-width: 0.333em;
	}

	&:focus {
		border-bottom-width: 0.333em;
		@include _(transform, scale(1.075));
	}

	&:active {
		@include _(transform, scale(1.125));
	}

	&:disabled {
		cursor: default;
		@include _(opacity, 0.75);
		@include _(box-shadow, 0 0 0 0 $black); 
	}
}

@mixin underline($colour: $black, $backgroundcolour: $white, $width: 0.35em) {
	$size: 0.075em;
	@include _(box-shadow, inset 0 #{$width * -0.75} 0 -0.2em rgba($colour, 1));
	@include _(text-shadow, #{0 0 $colour, $size 0 0 $backgroundcolour, 0 0, -$size 0 0 $backgroundcolour, $size $size 0 $backgroundcolour, -$size $size 0 $backgroundcolour});

	&:hover {
		@include _(box-shadow, inset 0 #{-$width} 0 -0.2em rgba($colour, 1));
	}
}