- content_for :banner do
	#banner

= row do
	= columns do
		- if @template
			=render @template
		- else
			%h2
				=_'articles.permission_denied.headings.main','Sorry, you currently don\'t have access to this page'
			%p
				=_'articles.permission_denied.paragraphs.main', :p
